<html>
    <head>
        <title>CTA Ridership Data</title>
        <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
        <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">
        <link href='//fonts.googleapis.com/css?family=Lobster&subset=latin,latin-ext' rel='stylesheet' type='text/css'>
    </head>
    <body>
        <div class="page-header">
            <h1><a href="/">CTA Ridership Data</a></h1>
            <span><a href="{% url 'stops' %}">Bus Stops</a></span>
            <span><a href="{% url 'routes' %}">Bus Routes</a></span>
        </div>
        {% block content %}
        {% endblock %}
        </div>

        {% if is_paginated %}
        <div class="pagination">
            <span class="step-links">
                {% if page_obj.has_previous %}
                    <a href="?page=1&order_by={{ current_sort }}">&laquo; First</a>
                    <a href="?page={{ page_obj.previous_page_number }}&order_by={{ current_sort }}">Previous</a>
                {% endif %}

                <span class="current">
                    Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}
                </span>

                {% if page_obj.has_next %}
                    <a href="?page={{ page_obj.next_page_number }}&order_by={{ current_sort }}">Next</a>
                    <a href="?page={{ page_obj.paginator.num_pages }}&current_sort={{ current_sort }}">Last &raquo;</a>
                {% endif %}
            </span>
        </div>
        {% endif %}
    </body>
</html>