{% extends 'base.html' %}

{% block content %}
<table class="table">
    <tr>
        <th><a href="?order_by={% if current_sort == 'intersection' %}-{% endif %}intersection">Location</a></th>
        <th><a href="?order_by={% if current_sort == 'total_routes' %}-{% endif %}total_routes">Total routes</a></th>
        <th><a href="?order_by={% if current_sort == 'routes_array' %}-{% endif %}routes_array">Routes</a></th>
        <th><a href="?order_by={% if current_sort == 'boardings' %}-{% endif %}boardings">Avg boardings</a></th>
        <th><a href="?order_by={% if current_sort == 'alightings' %}-{% endif %}alightings">Avg alightings</a></th>
    </tr>
{% for stop in stops %}
    <tr>
        <td>{{ stop }}</td>
        <td>{{ stop.total_routes }}</td>
        <td>
        {% for route in stop.routes_array %}
            {{ route }} <br>
        {% endfor %}
        </td>
        <td>{{ stop.boardings }}</td>
        <td>{{ stop.alightings }}</td>
    </tr>
{% endfor %}
</table>
{% endblock %}